In [1]:
# 딕셔너리-> 시리즈변환

# pandas 불러오기
import pandas as pd

In [5]:
dict_data = {'a': 1, 'b': 2, 'c': 3}
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}

In [3]:
# 딕셔너리를 시리즈로 변환
sr = pd.Series(dict_data)

In [4]:
# sr의 자료형 출력
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [6]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [7]:
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [1]:
import pandas as pd

# 튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [3]:
# 원소를 1개 선택
print(sr[0])
print(sr['이름'])

영인
영인

In [7]:
# 여러 개의 원소를 선택(인덱스 리스트 활용)
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])
print('\n')
print(sr[[2,3]])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object


성별         여
학생여부    True
dtype: object

In [9]:
# 여러 개의 원소를 선택(인덱스 범위 지정)
print(sr[1 : 2])
print('\n')
print(sr['생년월일' : '성별'])
print('\n')
print(sr[1:3])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object